@using Microsoft.AspNetCore.Identity
@using OnlineBookReader.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineBookReader</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OnlineBookReader.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header">
        <div class="header-1">
            <a href="/" class="logo"><i class="fas fa-book"></i>Bo<span>ok.online</span></a>
            <form action="" class="search-form">
                <input type="search" name="" placeholder="Tìm kiếm ở đây..." id="search-box">
                <label for="search-box" class="fas fa-search"></label>
            </form>
            <div class="icons">
                 <div id="search-btn" class="fas fa-search"></div>
                 <a href="#" class="fas fa-heart"></a>
                 <a href="#" class="fas fa-shopping-cart"></a>
                 <div id="login-btn" class="d-none fas fa-user"></div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <span class="nav-link">Chào, @UserManager.GetUserName(User)</span>
                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                        <button type="submit" class="btn">Đăng xuất</button>
                    </form>
                }
                else
                {
                    <a class="btn" asp-controller="Account" asp-action="Login">Đăng nhập</a>
                    <a class="btn" asp-controller="Account" asp-action="Register">Đăng ký</a>
                }
            </div>
        </div>
        <div class="header-2">
            <nav class="nav-header-2">
                <a href="/">Trang chủ</a>
                <a href="#Featured-books">Nổi bật</a>
                <a href="#Arrivals-books">Top nổi bật</a>
                <a href="#Reviews-books">Đánh giá</a>
                <a href="#Blogs-books">Bài biết</a>
            </nav>
        </div>
    </header>
    <nav class="bottom-nav">
        <a href="/" class="fas fa-home"></a>
        <a href="#Featured-books" class="fas fa-list"></a>
        <a href="#Arrivals-books" class="fas fa-tags"></a>
        <a href="#Reviews-books" class="fas fa-comment"></a>
        <a href="#Blogs-books" class="fas fa-contact-blogs"></a>
    </nav>
    <div class="login-form-container">
        <form action="">
            <div id="close-login-btn" class="fas fa-close"></div>
            <h3>Sign in</h3>
            <span>Username</span>
            <input type="email" class="box" name="" placeholder="Enter your username..." id="">
            <span>Password</span>
            <input type="password" class="box" name="" placeholder="Enter your password..." id="">
            <div class="check-box">
                <input type="checkbox" name="" id="remember-me">
                <label for="remember-me">Remember me</label>
            </div>
            <input type="submit" value="Sign in" class="btn">
            <p>Forget password?<a href="#">click here</a></p>
            <p>Don't have an account ? <a href="#">Sign up</a></p>
        </form>
    </div>
    
    @RenderBody()
    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>our locations</h3>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> india </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> USA </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> russia </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> france </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> japan </a>
                <a href="#"> <i class="fas fa-map-marker-alt"></i> africa </a>
            </div>

            <div class="box">
                <h3>quick links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> home </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> featured </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> arrivals </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> reviews </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> blogs </a>
            </div>

            <div class="box">
                <h3>extra links</h3>
                <a href="#"> <i class="fas fa-arrow-right"></i> account info </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> ordered items </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> privacy policy </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> payment method </a>
                <a href="#"> <i class="fas fa-arrow-right"></i> our serivces </a>
            </div>

            <div class="box">
                <h3>contact info</h3>
                <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
                <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
                <a href="#"> <i class="fas fa-envelope"></i> shaikhanas@gmail.com </a>
                <img src="image/worldmap.png" class="map" alt="">
            </div>

        </div>

        <div class="share">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
            <a href="#" class="fab fa-pinterest"></a>
        </div>

        <div class="credit"> all rights reserved! </div>

    </section>

    <!-- footer section ends -->
    <!-- loader  -->

    <div class="loader-container">
        <img src="image/loader-img.gif" alt="">
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
